@media (max-width: 900px){
    .container-2 {  
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container-alinhamento{
        display: flex;
        flex-wrap: wrap;
    }
    .container-molduras{
        height: 20em;
        width: 20em;
        text-align: center;
        overflow:hidden;
        margin: 0 auto;
        border-radius:5px;
        margin-top: 5px;
        margin-bottom: 20px;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .container-molduras .col img{
        position:relative;
        z-index:20;
        border-radius: 50%;
        display: block;
        height: 200px;
        width: 200px;
        border: 5px solid rgb(17, 17, 5);
        object-fit: cover;
        margin: 20px auto;
    }
    
}

@media (max-width: 1200px){
    .texto { 
        font-size: 15px; 
        margin-bottom: 10px;
    }
    .texto-2 { 
        font-size: 15px; 
        margin-bottom: 10px;
    }
    .texto-3 { 
        font-size: 15px;
        margin-bottom: 10px; 
    }
    .lista-conteudo{
        text-align: justify;
        margin: 5px 10px 5px 10px;
    }
    .container-historia{
        width: auto;
        height: 200px;
        background-color:#ffffff;
        margin: 0;
        border-radius: 0;
        padding: 10px;
        margin: 20px;
    }
}

@media (max-width: 756px){
    .Titulo-historia-empresa{
        font-size: 10px;
    }
    .Texto-historia{
        font-size: 16px;
        width: 100%;

    }
}