* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.Lista-box li {
    list-style-type: none;
}
li a {
    text-decoration: none;
    border: none;
}
a {
    text-decoration: none;
    border: none;
}