
@media (max-width: 350px) {
    .formulario{
        background-color: white;
        position: absolute;
        top: 60%;
        left: 48.3%;
        transform: translate(-50%, -50%);
        padding: 100px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #000;
        width: 370px;
    }
}