body,
ul {
  margin: 0px;
  padding: 0px;
}
a {
  color: white;
  font-family: sans-serif;
}

li a:hover {
  border-bottom: 2px solid #0A3FFE;
  transition: 0.3s;
}

#logo {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  font-family: Sans-serif;
}

#header {
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(37, 36, 36);
}

#menu {
  display: flex;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5em;
}

#btn-mobile {
  display: none;
}

button {
  color: #FFF;
}

#btn-hopper {
  border: none;
  background-color: #0A3FFE;
  padding: 10px;
  border-radius: 5px;
}